body {
    font-family: "Cinzel";
    color: #FFF;

    background-image: url(../../assets/images/backgrounds/pixel_art-bkg-animated.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #141414;
    border: none;
}

.contacte-container{
    background-color: rgba(0, 0, 0, 0.932);
    width: 90%; 
    max-width: 1200px;
    margin: -0.01em auto; /* para que no quede una linea entre contenedores */
    margin-bottom: 4em;
    padding: 2em;
}
/*titulo (fondo imagen)*/
.contacte-title {
    background: radial-gradient(circle, #000000 13%, #ffffff00 78%);
    min-height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    color: var(--color7);
    overflow: hidden;
}

.contacte-title div {
    z-index: 2;
    position: relative;
    border-radius: 40px;
    padding: 2em;
    border: solid 2px var(--color7);
}

.contacte-subtitle {
    text-align: center;
    padding: 1em 0;
    color: var(--color2);
    font-size: 2em;
    color: var(--color3);
    background: linear-gradient(90deg, #f5f2f200 20%, #1a1d24 30%, #1a1d24 70%, #ffffff00 80%);

}
/* apartado de info contacto */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 4rem 5%;
    max-width: 1400px;
    margin: 0 auto;
    color: var(--color7);
}
.contacte-info {
    text-align: center;
}
.contacte-info strong {
    color: var(--color7);
}
.contacte-info h2 {
    font-size: 2em;
    margin-bottom: 2rem;

    padding: .5em;
    background-color: var(--color0);
    border-radius: 40px;
}
.contacte-info p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: var(--color3);
    font-size: 1.2em;
}

.contacte-info a {
    color: var(--color7);
    text-decoration: none;
}
.contacte-info a:hover {
    color: var(--color7b);
}
/* formulario ----------------------->*/

.contact-form-container {
    background-color: #18181896;
    padding: 2.5rem;
    border-radius: 12px;
    border: solid 1px var(--color7);
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

.form-group label {
    font-weight: bold;
    color: var(--color3);
    font-size: 1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1rem;
    background-color: var(--color0);
    border: 2px solid var(--color1);
    color: white;
    border-radius: 20px;
    font-family: inherit;

    font-size: 1em;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color7);
    box-shadow: 0 0 10px var(--color7b);
}

.btn-submit-container {
    display: flex;
    justify-content: center;
}
.btn-submit {
    margin-top: 1.5rem;
    padding: 1rem 2rem;

    background-color: var(--color7);
    color: var(--color3);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}
.btn-submit:hover {
    background-color: var(--color7b);
}

/* un pequeño cambio al footer para ajustarlo con la paleta de colroes de este apartado */
footer {
    border-top: 2px solid var(--color7);
}
.footer-nav a:hover {
    color: var(--color7); 
    text-shadow: 0 0 10px rgba(156, 58, 58, 0.6), 0 0 20px rgba(104, 166, 120, 0.4); 
}
.footer-nav a::after {
    background-color: var(--color7);
    box-shadow: 0 0 8px var(--color7b); 
}


/* MEDIA QUIERIES ---> */
@media (min-width: 850px) {
    
    .contact-grid {
        grid-template-columns: 1.2fr 1.2fr;
        gap: 4rem;
        align-items: start;
    }
}
@media (max-width: 850px) {
    .contacte-subtitle {
        font-size: 1.5em;
    }
}