body, .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.teammembers-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

h2 {
    font-size: 56px;
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

.pfp {
    border-radius: 50%;
    width: 250px;
}

.social {
    width: 50px;
}

.socials {
    align-items: center;
}

.socials > div {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}