
.media-trailer{
    display: flex;
    justify-content: center;
}
.media-trailer video{
    width: 60%;
}
.videos-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 5em;
    gap: 2em;
}