:root {
    --shader-angle: 150deg;
}

/* Sección hero */
.heroSection {
    position: relative; /* Clave para posicionar el shape divider abajo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    background-image: url('../assets/images/backgrounds/1b456377a9dce67a7dc3630260aa7572.gif');
    /* 
    background-image: url('../assets/images/backgrounds/index_bkg_pixelArt.gif');            probar entre estos 2 fondos
    background-image: url('../assets/images/backgrounds/1b456377a9dce67a7dc3630260aa7572.gif');
    */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--color3);
    z-index: 2;
    padding: 2rem;
    max-width: 800px;
    margin-top: -100px;

    background: linear-gradient(90deg, #f7f7f88a 0%, #0708088a 100%);
    border: solid 4px var(--color0);
    border-radius: 80px;
}

.hero-logo {
    width: 250px;
}

/* h1 del titulo */
h1 {
    font-size: 5em;
    -webkit-text-stroke: #000 1px;
    font-weight: bold;
    padding-bottom: 1em;
}

/* botones */
.hero-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
.heroBtn {
    background-color: var(--color0); 
    color: var(--color3);
    border: 2px solid var(--color2);
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.5s ease-in-out, color 0.3s;
}

.heroBtn:hover {
    background-color: var(--color5);
    color: var(--color3);
}