/* Este es el archivo css principal, contiene todos los elementos comunes que se pueden repetir en los diferentes archivos */
:root {
    /*PALETA DE COLORES  (por ahora colores provisionales)*/
    --color0: #1A1D24; /* negro claro*/
    --color00: #1a1d24e5; /* negro claro con transparencia */
    --color1: #545454; /* Gris oscuro*/
    --color2: #B0B0B0; /* Gris claro*/
    --color3: #E7E7E7; /* Blanco */
    --color4: #FFDC4A; /* Amarillo */
    --color5: #4a7c59; /* Verde */
    --color6: #5d93b4; /* Azul */
    --color6b: #2460ad; /* Azul oscuro*/
    --color7: #c16767; /* rojo */
    --color7b: #a02323; /* tono más oscuro del rojo */

    /* Animaciones ()*/
    --transitionEspaciadoLetras: letter-spacing 0.4s ease-in-out;
    --hoverEspaciadoLetras: 0.5em;
}
* { /*esto reduce los bordes "predeterminados" del navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Linea horizontal */
.horizontal-line{
    margin: 0 10%;
    margin-top: 5rem;
    margin-bottom: 0;
    border-radius: 10px;
    padding: .2rem;
    border: none;
    background-color: #B0B0B0;
}

body {
    margin: 0;
    background-color: #4a4a4a; 
    font-family: 'IndiraK', Georgia, serif; 
}

body.dark-theme {
    --fondo-body: var(--color0); /* Cambia el fondo gris a negro claro */
    --color2: #333333;
}


@font-face {
    font-family: 'IndiraK';
    src: url('../assets/fonts/Indira_K.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.h2-title-yellow {
    text-align: center;
    padding: .5em 0;
    color: var(--color4);
    font-size: 2em;
}
.h2-title-blue {
    text-align: center;
    padding: .5em 0;
    color: var(--color6);
    font-size: 2em;
}
.h2-title-green {
    text-align: center;
    padding: .5em 0;
    color: var(--color5);
    font-size: 2em;
}